<h1>Companies</h1>
<%= link_to "New product", new_company_path %>

<div id="companies">
  <% @companies.each do |company| %>
    <div>
      Company name: <a href="/companies/<%= company.id %>"><%=company.name %></a> <br>
      Company website:  <%=company.website %>
    </div>
  <% end %>
</div>
